

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  

.carousel {
    margin-bottom: 3rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

.carousel-item {
    height: 32rem;
  }
  

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }


.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  
.featurette-divider {
    margin: 5rem;
  }

.featurette-heading {
    letter-spacing: -.05rem;
  }

.carousel-caption p{
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 2;
    color:black;
    -webkit-text-fill-color: black;
 }
  
.featurette-heading {
    font-size: 50px;
}
  
  

.featurette-heading {
      margin-top: 7rem;
    }
  
#Elem_Serv{
    text-align: center;
}
  